#app{
  background-color: #f9a7c0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  width: 600px;
}

.tape-body{
  background-color: #1e0c46;
  width: 600px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

.tape-content{
  border: 3px solid #fff;
  height: 200px;
  width: 500px;
  border-radius: 10px;
  position: fixed;
  margin-top: 70px;
  background-color: #ed5656;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;

  font-family: 'Permanent Marker', cursive;
  text-align: left;
}

.tape-label{
  width: 100%;
  padding: 0 20px;
  font-size: 1.5em;
}

.gear{
  animation: gear-spin infinite 5s linear
}

.tape-gears{
  width: 450px;
  height: 120px;
  margin-bottom: 10px;
  border-radius: 50px;
  background-color: #1e0c46;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#trapezoid {
    border-bottom: 100px solid #ed5656;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 300px;
    z-index: 10;
    align-self: flex-end;
}

.playback-controls{
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.button{
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: #1e0c46;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pause{
  justify-content: space-around;
  padding: 0 10px;
}

.triangle-forward{
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;

  border-left: 30px solid #fff;
}

.triangle-backward{
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;

  border-right: 30px solid #fff;
}

.pause-rectangle{
  height: 60px;
  width: 20px;
  background-color: #fff;
}

/* MENU */
.menu{
  width: 100%;
  height: 50px;
  background-color: #f0ff00;
  align-self: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.menu-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.ion-home, .ion-search, .ion-ios-recording, .ion-checkmark{
  font-size: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50px;
}
.label{
  font-size: 0.4em;
}

@keyframes gear-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
